<content>
	<div class="sidebar">

		<div class="tab-view">
			<div class="tab-row">
				<div class="tab-active">All</div>
				<div>Missed</div>
			</div>

			<div class="tab-body">

				<div class="contact-list">
					<div class="contact">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Hakan Bilgin
							</span>
							<span class="last-call">2020-05-23</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>
					
					<div class="contact">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Steve Jobs
							</span>
							<span class="last-call">2020-02-02</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>
					
					<div class="contact caller">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Bill Gates
							</span>
							<span class="last-call">2019-11-14</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>

					<div class="contact callee">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Hakan Bilgin
							</span>
							<span class="last-call">2020-05-23</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>
					
					<div class="contact missed">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Steve Jobs
							</span>
							<span class="last-call">2020-02-02</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>
					
					<div class="contact offline">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Bill Gates
							</span>
							<span class="last-call">2019-11-14</span>
						</div>
						<div class="actions">
							<div class="action" data-click="call-user">
								<i class="icon-phone"></i>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
	<video></video>
</content>
