<content>
	<div class="sidebar">

		<div class="tab-view">
			<div class="tab-row">
				<div class="tab-active">All</div>
				<div>Missed</div>
				<div>Friends</div>
			</div>

			<div class="tab-body">

				<div class="call-list"><!--
					<div class="contact">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Hakan Bilgin
							</span>
							<span class="last-call">
								<i class="icon-phone"></i>
								<i class="icon-out"></i>
								2020-05-23
							</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					
					<div class="contact">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Steve Jobs
							</span>
							<span class="last-call">
								<i class="icon-camera"></i>
								<i class="icon-in"></i>
								2020-02-02
							</span>
						</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					
					<div class="contact offline inbound">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Bill Gates
							</span>
							<span class="last-call">
								<i class="icon-phone"></i>
								<i class="icon-out"></i>
								2019-11-14
							</span>
						</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					
					<div class="contact outbound">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Hakan Bilgin
							</span>
							<span class="last-call">
								<i class="icon-phone"></i>
								<i class="icon-in"></i>
								2020-05-23
							</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					
					<div class="contact missed">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Steve Jobs
							</span>
							<span class="last-call">
								<i class="icon-phone"></i>
								<i class="icon-in"></i>
								2020-02-02
							</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					
					<div class="contact offline">
						<span class="avatar"></span>
						<div class="details">
							<span class="name">
								<i class="icon-online"></i>
								Bill Gates
							</span>
							<span class="last-call">
								<i class="icon-phone"></i>
								<i class="icon-out"></i>
								2019-11-14
							</span>
						</div>
						<div class="actions">
							<i class="icon-info" data-click="get-call-info"></i>
						</div>
					</div>
					-->
				</div>

			</div>
		</div>

	</div>
	<video></video>
</content>
