<content>
	<div class="sidebar" data-area="sidebar">
		<div class="tab-view">
			<div class="tab-row">
				<div data-click="select-tab" data-arg="all">All</div>
				<div data-click="select-tab" data-arg="missed">Missed</div>
				<div data-click="select-tab" data-arg="friends">Friends</div>
			</div>

			<div class="search-row">
				<div class="input-wrapper">
					<input type="text" placeholder="Enter name" />
					<i class="icon-search"></i>
				</div>
			</div>

			<div class="tab-body">
				<div class="call-list">
					<div class="list-wrapper">
					<!-- Call entries goes here -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="video-call">
		<div class="video-screen me">
			<video></video>
		</div>

		<div class="video-screen other">
			<video></video>
		</div>

		<h2 class="call-title">
			<span class="verb"></span>
			<span class="user"></span>
		</h2>

		<div class="sidebar-toggler push-in" data-click="toggle-sidebar">
			<i class="icon-sidebar"></i>
		</div>

		<div class="call-actions">
			<div class="answer-voice" data-click="accept-call">
				<i class="icon-phone"></i>
			</div>
			<div class="answer-camera" data-click="accept-call">
				<i class="icon-camera"></i>
			</div>
			<div class="cancel" data-click="decline-call">
				<i class="icon-cancel"></i>
			</div>
			<div class="camera" data-click="toggle-camera">
				<i class="icon-camera"></i>
			</div>
			<div class="microphone" data-click="toggle-microphone">
				<i class="icon-mic-on"></i>
			</div>
			<div class="end-call" data-click="end-call">
				<i class="icon-hangup"></i>
			</div>
		</div>
	</div>
</content>
